{% extends 'base.html' %}
{% block title %}Войти{% endblock %}

    
{% block content %}
<div class="container">
    <div class="content">
        <div class="login">
            <h3>Войти</h3>
        <form method="post" >
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <p>Запомнить меня</p>{{ form.remember_me }}
            <p><br></p>
            <div class="button_accounts">
                <button type="submit">Войти</button>
                <button onclick="document.location='/accounts/signup'" class="register" type="button">Регистрация</button>
            </div>
            <br>
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        </form>
    </div>
</div>
{% endblock %}