{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        {% if validlink %}

        <h1>Введите новый пароль</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button_accounts">
                <button type="submit" class="register" style="--c:#ff3753">Подтвердить</button>
            </div>
        </form>

    {% else %}

        <p>Ссылка уже была использована, попробуйте снова</p>

    {% endif %}
    </div>
</div>
    
{% endblock %}