{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="reg">
            <h3 id="pass">Забыли пароль?</h3>
            <br>
            <p>Введите ваш email адрес, чтобы мы отправили инструкции <br>по смене пароля</p>
            <form method="post">
                {% csrf_token %}
                <div class="f">
                    {{ form }}
                </div>
    
                <div class="button_accounts">
                    <button type="submit" class="register">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}