{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% load static %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<div class="container">
    <div class="content">
        <div class="reg">
            <h3 id="pass">Забыли пароль?</h3>
            <br>
            <p>Введите ваш email адрес, чтобы мы отправили инструкции <br>по смене пароля</p>
            <form id="form1" method="post">
                {% csrf_token %}
                <div class="f">
                    {{ form }}
                </div>

                <!-- Кнопка-триггер модального окна -->
                <div class="button_accounts">
                    <button id="sub" type="submit" class="register" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Отправить</button>
                    
                </div>
            </form>
        </div>
    </div>
    {% include 'registration/password_reset_model_window.html' %}
</div>
<script>
    $(document).ready(function () {
    $("#form1").submit(function () {
        $.ajax({
            data: $(this).serialize(), //передаем данные из формы
            type: "POST",  //метод GET или POST
            url: "{% url 'password_reset' %}",
            success: function (response) {
                console.log('das')
                
                //ваш код, который надо выполнить в случае успешной проверенной формы и выполнение функции
                $('form[id=form1]').trigger('reset');
                $("#staticBackdrop").show();
            },
            error: function (response) {
                console.log("error");
            }
        });
       return false;
    });
})
</script>
{% endblock %}