{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %} 
<div class="container">
    <div class="content">
        
        <div class="b2">
            <h3 style="margin-left: 105px;">Ваши желания</h3>
            <hr class="myhr">
            <ul class="list-group list-group-flush">
                {% for i in data %} 
                    <li class="list-group-item">{{ i }} 
                        <div>
                            <a href="{% url 'delete-wish' i.wish %}">Удалить</a>
                        </div>
                    </li>
                {% empty %}
                    <h4>Загадайте первое <a href="{% url 'add-wish' %}">желание</a></h4>
                    
                {% endfor %}
            </ul> 
            {% if data.has_other_pages %}
                <div class="pag">
                    {% include "index/pagination.html" with page=data %}
                </div>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}