{% extends 'base.html' %}
{% load static %}

{% block title %}Загадай желание{% endblock %}

{% block content %} 
<div class="container">
    <div class="content">
        
        <div class="b">
            
            <h2>Загадай своё желание и оно неприменно <br>
                <span>сбудется</span> </h2>
            <form method="post">
                {% csrf_token %}
                {{form.wish}}
                {{form.author}}
                <br>
                <button type="submit" class="btn btn-outline-danger wishbutton">Загадать</button>
            </form> 
            <img src="{% static 'img/hr_line.png' %}" alt="">
        </div>
        
    </div>
</div>
    
    
{% endblock %}