{% load static %}
<nav class="nav">
    <div class="container_n">
        <div class="logo">
            <a href="{% url 'index' %}">🎅🏻</a>
        </div>
        <div class="main_list" id="mainListDiv">
            <ul>
                <!-- <li><a href="{% url 'index' %}">Главная</a></li> -->
                <li><a href="{% url 'wishes' %}">Желания</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>
    
