{% extends 'base.html' %}
{% load static %}

{% block title %}Желания пользователей{% endblock %}

{% block content %} 
<div class="container">
    <div class="content">
        <div class="b2">
            <h3>Желания пользоваталей сайта</h3>
            <hr class="myhr">
            <ul class="list-group list-group-flush">
            {% for i in data %} 
            <li class="list-group-item">{{i}}</li>
            {% endfor %}
            </ul> 
        </div>
    </div>
</div>
{% endblock %}