/* index */
body {
    overflow: hidden;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('img/background.png');
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    
}

.content{
    top: 50%;
    left: 10%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;

}

.content h1{
    font-size: 64px;
    font-weight: 600;
}

.content h1 span{
    color: #ff3753;
}

.butt {
    background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
    border: 2px solid transparent;
    outline: none;
    padding: 1px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    --x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	border-radius: 100px;
    
}

	
.content button img{
    width: 50px;
    margin-left: 10px;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

/* navbar */

.container_n{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}



/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: rgb(16, 82, 143);
    
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    padding-right: 130px;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    margin-left: 250px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 100px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}

@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 200px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

/*Загадать желания*/

.b {
    
    width:600px;
    height:625px;
    background-color: #fff;
    margin-top: 40%;
    margin-left: 37%;
    margin-bottom: 50%;
    border-radius: 100px;
    -webkit-box-shadow: 1px 4px 16px 18px rgba(11, 132, 223, 0.987); 
    -moz-box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.943); 
    box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.951);
}
.b img {
    width: 500px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 100px;
}
.b h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 440;
    color: black;
    padding-top: 80px;
}

.b h2 span{
    color: #ff3753;
    text-align: center;
}

/* forms */

.textform {
    width:  400px;
    height: 100px;
    margin-left: 17%;
    margin-top: 5%;
    border:2px solid #0f0f0f;
    font-size:16px;
    font-family: Tahoma;
    resize: none;
}

.wishbutton{
    margin-left: 42%;
}

/* Все желания */

.b2 {
    width:600px;
    height:625px;
    background-color: #fff;
    margin-top: 40%;
    margin-left: 37%;
    margin-bottom: 50%;
    border-radius: 100px;
    -webkit-box-shadow: 1px 4px 16px 18px rgba(11, 132, 223, 0.987); 
    -moz-box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.943); 
    box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.951);


}
.b2 h3{
    color: black;
    padding-left: 15%;
    padding-top: 7%;
}
.b2 ul{
    color:#000;
    width: 500px;
    padding-left: 5%;
}

.myhr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #b11212, #ccc);
    
}

.pag{
    position: absolute;
    bottom: 330px;
    margin-top: 20px;
    margin-left: 200px;
    font-weight: bold;

}

/* Кнопка регистрации / логина*/

.button_accounts button {
    --c:  #3e07c8; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
.button_accounts button {
    color:#fff;
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

.button_accounts button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }

.button_accounts button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
.button_accounts .register{
    margin-left: 25px;
    text-decoration: none;
}

/* Логин */

.login {
    width:600px;
    height:625px;
    background-color: #ffffff;
    margin-top: 40%;
    margin-left: 37%;
    margin-bottom: 50%;
    border-radius: 100px;
    -webkit-box-shadow: 1px 4px 16px 18px rgba(11, 132, 223, 0.987); 
    -moz-box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.943); 
    box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.951);


}
.login h3{
    color: black;
    padding-left: 42%;
    padding-top: 7%;
}

.login input{
    color:#000;
    width: 250px;
    margin-left: 170px;
    margin-top: 5%;
    right: 50px;
}

.login #flexCheckDefault{
    color:#000;
    width: 2px;
    height: 20px;
    margin-left: 10px;
    margin-top: 27px;
    float:left;
}

.login p{
    color:#000;
    margin-left: 170px;
    margin-top: 4%;
    right: 50px;
    float: left;

}

.login button {
    color: rgb(15, 15, 14);
    margin-left: 145px;
    margin-top: 5%;
    border-radius: 40%;

}

.login a {
    margin-left: 60px;
}

/* Регистрация */

.reg {
    width:600px;
    height:625px;
    background-color: #ffffff;
    margin-top: 40%;
    margin-left: 37%;
    margin-bottom: 50%;
    border-radius: 100px;
    -webkit-box-shadow: 1px 4px 16px 18px rgba(11, 132, 223, 0.987); 
    -moz-box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.943); 
    box-shadow: 1px 4px 16px 18px rgba(17, 141, 236, 0.951);


}
.reg h3{
    color: black;
    padding-left: 35%;
    padding-top: 7%;
}
.reg input{
    color:#000;
    width: 250px;
    margin-left: 170px;
    right: 50px;
}

.reg .button_accounts button {
    color: rgb(15, 15, 14);
    margin-top: 30px;
    margin-left: 205px;
    border-radius: 40%;
}

.reg a {
    margin-left: 220px;
}

.reg #pass {
    padding-left: 32%;

}

.reg p {
    color: black;
    text-align: center;
}

input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.form-check-input input{
    width: 10%;
    height: 4400px;

}

.done {
    margin-bottom: 150px;
    margin-left: 160px;
}


.list-group-item {
    word-wrap: break-word;
}